.login {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
 
  }

  .loginContainer{
    margin: 6% 25%;
    width: 50%;
  
  }
  
  input,textarea{
      margin: 2%;
      width:50%;
      padding:10px;
  }

  .loginContainer button{
    margin-top: 3%; 
    width: 20%;
    min-height: 6vh;
    font-weight: bold;
    font-size: 1rem;
  }

  