.Movies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* background-color: white; */
    color: lightseagreen;
  
 
}
.MovieTitles{

    /* background-color: white; */
    color: teal;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 700;
}
.MovieItem{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 2px;
    
}
.MovieItem svg{
  font-size: 1.5rem ;
  margin: 37px 8px;
    
}
